<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/881643b674.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH7FUwmYvpIogouP6AK5OYIsvfGDW-l_VsfWK2BXv24wb3vnQy6RrDuYbIleqmXe1OGLA&usqp=CAU">
</head>

<body class="has-background-success">
    <%- include('headerAdmin'); %>

        <!-- List nations -->
        <div class="page-body container mt-5">
            <div class="container is-fluid mt-5">
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <table id="mytable" class="table is-striped mt-2" style="width: 1000px;">
                                <thead style="height: 40px;">
                                    <tr>

                                        <th style="text-align: center;">User Name</th>
                                        <th style="text-align: center;">Name</th>
                                        <th style="text-align: center;">Year of birth</th>
                                        <th style="text-align: center;">Role</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    <% users.forEach(function(user) { %>
                                        <tr>
                                            <td style="padding-top: 24px;">
                                                <%= user.username %>
                                            </td>
                                            <td style="padding-top: 24px;">
                                                <%= user.name %>
                                            </td>
                                            <td style="padding-top: 24px;">
                                                <%= user.YOB %>
                                            </td>
                                            <td style="padding-top: 24px;">
                                                <%=user.isAdmin===true ? 'Admin' : 'User' %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(document).ready(function () {
                $('#mytable').DataTable();
            });

        </script>
</body>

</html>