<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/881643b674.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH7FUwmYvpIogouP6AK5OYIsvfGDW-l_VsfWK2BXv24wb3vnQy6RrDuYbIleqmXe1OGLA&usqp=CAU">
  <title>
    <%=title%>
  </title>
</head>

<body>
  <%- include('headerAdmin'); %>
  
  <div class="page-body container" style="margin-top: 2rem;">
    <div class="column">
      <div class="box">
        <form method="post">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input is-info" name="name" type="text" value="<%=player.name%>" required />
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Nation</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth is-info">
                            <select name="nation">
                                <%for (let nation of nationsList){ %>
                                    <option value="<%= nation._id %>" <%=JSON.stringify(nation.name)===JSON.stringify(player.nation.name)
                                      ? 'selected' : '' %>>
                                        <%= nation.name %>
                                    </option>
                                    <% } %>
                            </select> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Club</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth is-info">
                    <select name="club">
                      <%for (let club of clubList){ %>
                        <option value="<%= club.name %>" <%=JSON.stringify(club.name)===JSON.stringify(player.club)
                          ? 'selected' : '' %>><%= club.name %>
                        </option>
                        <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Position</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth is-info">
                    <select name="position">
                      <%for (let position of positionList){ %>
                        <option value="<%= position.name %>"
                          <%=JSON.stringify(position.name)===JSON.stringify(player.position) ? 'selected' : '' %>>
                          <%= position.name %>
                        </option>
                        <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Goals</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input is-info" name="goals" type="number" value="<%=player.goals%>" required />
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Image</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input is-info" name="image" type="text" value="<%=player.image%>" required />
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Role</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="isCaptain" required value="true"
                      <%=JSON.stringify(player.isCaptain)==='true' ? 'checked' : '' %> />
                    Captain
                  </label>
                  <label class="radio">
                    <input type="radio" name="isCaptain" value="false" <%=JSON.stringify(player.isCaptain)==='false'
                      ? 'checked' : '' %>/>
                    Player
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-info" type="submit">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</body>


</html>